{% extends 'base.html' %}
{% block content %}

<!-- Button to go back to list-->
<a href="{% url 'home' %}" class="btn btn-primary btn-sm">Back to List</a>
<h4>Artist Name: {{artist_info.first_name}} {{artist_info.last_name}}</h4>
<h4>Instrument: {{artist_info.instrument}}</h4>
<h4>Rating: {{artist_rating.number_stars__avg}}</h4>
<a href="{% url 'update_artist' artist_id=artist_info.id %}" class="btn btn-primary btn-sm">Edit</a>
<a href="{% url 'delete_artist' artist_id=artist_info.id %}" class="btn btn-danger btn-sm">Delete</a>


<hr>

<table class="table table-bordered">
    <tr>
        <th>Album Name</th>
        <th>Release Date</th>
        <th>Rating</th>
        <th>Update/Delete</th>

    </tr>
    {% for album in album_list %}
    <tr>
        <td>{{album.album_name}}</td>
        <td>{{album.release_date}}</td>
        <td>{{album.number_stars}}</td>
        <td><a href="{% url 'update_album' album.id %}" class="btn btn-primary btn-sm">Edit</a>|
            <form action="{% url 'delete_album' album.id %}">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content%}